<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.sys.DeviceFactorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.sys.DeviceFactor">
        <id column="id" property="id" />
        <result column="device_id" property="deviceId" />
        <result column="factor_id" property="factorId" />
        <result column="is_deleted" property="deleted" />
        <result column="factor_code" property="factorCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, device_id, factor_id, is_deleted, factor_code
    </sql>

</mapper>
