<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.sys.SiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.sys.Site">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="constraction_company" property="constractionCompany" />
        <result column="manage_company" property="manageCompany" />
        <result column="telephone" property="telephone" />
        <result column="area_code" property="areaCode" />
        <result column="address" property="address" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="photo" property="photo" />
        <result column="is_focus" property="isFocus"/>
        <result column="record_level" property="recordLevel" />
        <result column="record_time" property="recordTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultDtoMap" type="com.zh.dto.sys.site.SiteDTO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="constraction_company" property="constractionCompany" />
        <result column="manage_company" property="manageCompany" />
        <result column="telephone" property="telephone" />
        <result column="areaCode" property="areaCode" />
        <result column="address" property="address" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="photo" property="photo" />
        <result column="areaName" property="areaName" />
        <result column="isFocus" property="isFocus"/>
        <collection property="deviceDTOS" ofType="com.zh.dto.sys.site.DeviceDTO">
              <result column="deviceCode" property="deviceCode" />
              <result column="deviceName" property="deviceName" />
              <result column="deviceId" property="deviceId" />
              <result column="deviceTypeId" property="deviceTypeId" />
              <result column="deviceTypeName" property="deviceTypeName" />
            <collection property="deviceFactorDTOS" ofType="com.zh.dto.sys.site.DeviceFactorDTO">
                <id column="deviceFactorId" property="deviceFactorId" />
                <result column="factorCode" property="factorCode" />
                <result column="factorId" property="factorId" />
                <result column="factorName" property="factorName"/>
            </collection>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseDto_Column_List">
        s.id, s.name, s.code, s.constraction_company, s.manage_company,
        s.telephone, s.address, s.longitude, s.latitude, s.photo,s.is_focus isFocus,
         d.name deviceName, d.code deviceCode, d.id deviceId ,dt.id deviceTypeId,dt.name deviceTypeName,
         f.device_type,f.factor_name factorName,f.factor_unit,df.id deviceFactorId,
         df.device_id,df.factor_id factorId,df.factor_code factorCode,ad.division_name areaName,ad.division_code areaCode
    </sql>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, constraction_company, manage_company,is_focus,
        telephone, area_code, address, longitude, latitude, photo,record_level,record_time, create_time,record_time update_time, is_deleted
    </sql>
    <delete id="deleteByDeviceIds" parameterType="java.util.List">
      DELETE from device_factor where device_id IN

        <foreach collection="deviceId" item="device_id"  index="index" open="(" close=")" separator=",">
            #{device_id}
        </foreach>

    </delete>
    <select id="selectBySiteName" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from site WHERE is_deleted=0

        <if test="keywords != null and '' != keywords">
            <bind name="keywords" value="'%'+keywords+'%'"/>
            and name like #{keywords}
        </if>
         ORDER BY create_time DESC

    </select>
    <select id="selectBySiteId" resultMap="BaseResultDtoMap">
        select <include refid="BaseDto_Column_List"/>
        from site s LEFT JOIN basic_administrative_division ad
        ON s.area_code=ad.division_code and ad.is_deleted=0
        LEFT JOIN device d ON s.id=d.site_id and d.is_deleted=0
        LEFT JOIN device_factor df ON df.device_id=d.id and df.is_deleted=0
        LEFT JOIN factor f ON df.factor_id=f.id and f.is_deleted=0
        LEFT JOIN device_type dt ON dt.id=f.device_type and dt.is_deleted=0
        WHERE s.is_deleted=0
        <if test="siteId != null">
            and s.id = #{siteId}
        </if>

    </select>
    <select id="selectByKeywords" resultType="com.zh.dto.sys.site.SiteDTO">
        select
        s.id id,
        s.name name,
        s.code code,
        s.area_code areaCode,
        bad.division_name areaName
        from site s
        left join basic_administrative_division bad on bad.division_code = s.area_code
        where s.is_deleted = 0
        <if test="keywords != null and keywords != ''">
            <bind name="keywords" value="'%'+keywords+'%'"/>
            and concat(s.name, bad.division_name) like #{keywords}
        </if>
    </select>


</mapper>
