<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.basic.AutoStationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.basic.AutoStation">
        <id column="id" property="id" />
        <result column="site_code" property="siteCode" />
        <result column="site_name" property="siteName" />
        <result column="river_name" property="riverName" />
        <result column="drainage" property="drainage" />
        <result column="basin" property="basin" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="address" property="address" />
        <result column="area_code" property="areaCode" />
        <result column="datum_name" property="datumName" />
        <result column="datum_altitude" property="datumAltitude" />
        <result column="datum_correction_value" property="datumCorrectionValue" />
        <result column="type" property="type" />
        <result column="new_report_degree" property="newReportDegree" />
        <result column="build_time" property="buildTime" />
        <result column="initial_report_time" property="initialReportTime" />
        <result column="industry_company" property="industryCompany" />
        <result column="information_manage_company" property="informationManageCompany" />
        <result column="change_manage_company" property="changeManageCompany" />
        <result column="shore_separation" property="shoreSeparation" />
        <result column="position" property="position" />
        <result column="river_distance" property="riverDistance" />
        <result column="catchment_area" property="catchmentArea" />
        <result column="pinyin_code" property="pinyinCode" />
        <result column="enable_logo" property="enableLogo" />
        <result column="content" property="content" />
        <result column="time_stamp" property="timeStamp" />
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, site_code, site_name, river_name, drainage, basin, longitude, latitude, address, area_code,
        datum_altitude, datum_correction_value, type, new_report_degree, build_time, initial_report_time,
        industry_company, change_manage_company, shore_separation, position, river_distance,
        catchment_area, pinyin_code, enable_logo, content, time_stamp, is_deleted, create_time, update_time
    </sql>
    <select id="getPageList" resultType="com.zh.entity.basic.AutoStation">
        select
        id id,
        site_code siteCode,
        site_name siteName,
        river_name riverName,
        drainage drainage,
        basin basin,
        longitude longitude,
        latitude latitude,
        address address,
        area_code areaCode,
        datum_altitude datumAltitude,
        datum_correction_value datumCorrectionValue,
        type type,
        new_report_degree newReportDegree,
        build_time buildTime,
        initial_report_time initialReportTime,
        industry_company industryCompany,
        change_manage_company changeManageCompany,
        shore_separation shoreSeparation,
        position position,
        river_distance riverDistance,
        catchment_area catchmentArea,
        pinyin_code pinyinCode,
        enable_logo enableLogo,
        content content,
        time_stamp 'timeStamp',
        datum_name datumName,
        information_manage_company informationManageCompany
        from auto_station
        where is_deleted = 0
        <if test="keywords != null and keywords != ''">
            <bind name="keywords" value="'%'+keywords+'%'"/>
            and concat(site_name, site_code, river_name, drainage, basin, longitude, latitude, address, area_code,
            datum_correction_value, datum_altitude, type, new_report_degree, build_time, initial_report_time,
            industry_company, change_manage_company, shore_separation, position, river_distance, catchment_area,
            pinyin_code, enable_logo, content, time_stamp) like #{keywords}
        </if>
        Order by create_time desc
    </select>

</mapper>
