<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.basic.BasicDivisionOrganizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.basic.BasicDivisionOrganization">
        <id column="id" property="id" />
        <result column="administrative_division_id" property="administrativeDivisionId" />
        <result column="division_name" property="divisionName" />
        <result column="division_duties" property="divisionDuties" />
        <result column="telephone" property="telephone" />
        <result column="user_id" property="userId"/>
        <result column="duty_people_name" property="dutyPeopleName" />
        <result column="duty_people_work" property="dutyPeopleWork"/>
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="command_id" property="commandId" />
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultDTOMap" type="com.zh.dto.basic.BasicDivisionOrganizationDTO">
        <id column="id" property="id" />
        <result column="administrative_division_id" property="administrativeDivisionId" />
        <result column="division_name" property="divisionName" />
        <result column="areaName" property="areaName"/>
        <result column="division_duties" property="divisionDuties" />
        <result column="dutyPeopleName" property="dutyPeopleName" />

        <result column="duty_people_work" property="dutyPeopleWork"/>
        <result column="telephone" property="telephone" />
        <result column="command_id" property="commandId" />
    </resultMap>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultDTOPeopleMap" type="com.zh.dto.basic.BasicDivisionOrganizationPeopleDTO">
        <id column="id" property="id" />
        <result column="names" property="name" />
        <result column="division_name" property="divisionName" />
        <result column="position" property="userPosition" />
        <result column="mobile" property="telephone" />
        <result column="gender" property="gender" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, administrative_division_id, division_name, division_duties,telephone,duty_people_name,duty_people_work
         is_deleted, create_time, update_time,command_id
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="DTOs_Column_List">
        bdo.id, bdo.administrative_division_id, bdo.division_name, bdo.division_duties,bdo.command_id,
        bdo.telephone,su.name dutyPeopleName,bdo.duty_people_work,bad.division_name areaName
    </sql>
    <!-- 通用查询结果列 -->
    <sql id="DTO_Column_List">
        id, administrative_division_id, division_name, division_duties,
        telephone,duty_people_name,duty_people_work,command_id
    </sql>
    <!-- 通用查询结果列 -->
    <sql id="DTOPeople_Column_List">
        <!--用户名,联系电话，性别，部门名, 职务 , //是否为责任人-->
        su.name names,su.mobile,su.gender, bdo.division_name,suo.id id,suo.position
       </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultDTOCommandAndDepartmentMap" type="com.zh.dto.basic.DepartmentDTO">
            <result column="organizationId" property="id"/>
            <result column="organizationName" property="name"/>
            <collection property="userDTOS"
                        ofType="com.zh.dto.basic.UserDTO">
                <result column="userId" property="userId"/>
                <result column="userName" property="userName"/>
            </collection>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="BaseCommandAndDepartment_Column_List">
        bcd.id commandId, bcd.name commandName,  bdo.id organizationId, bdo.division_name organizationName,su.id userId, su.name userName
    </sql>
    <select id="selectAllCommandDepartmentAndUser" resultMap="BaseResultDTOCommandAndDepartmentMap">
        SELECT <include refid="BaseCommandAndDepartment_Column_List"/>
        FROM basic_command_department bcd left JOIN  basic_division_organization bdo on bcd.id=bdo.command_id and bdo.is_deleted=0
        LEFT JOIN user_department ud on bdo.id=ud.organization_id and ud.is_deleted=0
        left JOIN sys_user su ON su.id=ud.user_id and su.is_deleted=0
        where bcd.is_deleted=0
        <if test="id != null">
            and bcd.id =#{id}
        </if>

    </select>

       <select id="selectAll" resultMap="BaseResultDTOMap">
           SELECT <include refid="DTOs_Column_List"/>
           FROM basic_division_organization bdo
           LEFT JOIN basic_command_department bcd ON bdo.command_id=bcd.id and bcd.is_deleted=0
           LEFT JOIN basic_administrative_division bad ON bdo.administrative_division_id=bad.id and bad.is_deleted=0
           LEFT JOIN sys_user su ON su.id=bdo.user_id and su.is_deleted=0
           WHERE bdo.IS_DELETED = 0
           <if test="keywords != null and '' != keywords">
               <bind name="keywords" value="'%'+keywords+'%'"/>
               and CONCAT(bdo.division_name, bdo.division_duties,
               bdo.telephone,bdo.duty_people_name,bdo.duty_people_work,bad.division_name)  like #{keywords}
           </if>

           <if test="id != null">
               and bcd.id =#{id}
           </if>

       </select>
       <select id="selectAdministrativeDivisionId" resultMap="BaseResultDTOMap">

           SELECT <include refid="DTO_Column_List"/>
           FROM basic_division_organization
           WHERE IS_DELETED = 0 and administrative_division_id=#{administrativeDivisionId}

       </select>
       <select id="checkNameIsSame" resultMap="BaseResultDTOMap">

           SELECT <include refid="DTO_Column_List"/>
           FROM basic_division_organization
           WHERE IS_DELETED = 0 and division_name=#{name}
       </select>

       <select id="selectByIdAndName" resultMap="BaseResultDTOPeopleMap">

           select <include refid="DTOPeople_Column_List"/>
           from
           sys_user_organization suo
           left join
           sys_user su   on suo.sys_user_id = su.id
           left join basic_division_organization bdo on bdo.id = suo.organization_id and bdo.is_deleted = 0
           where su.is_deleted = 0

           <if test="userName != null and '' != userName">
               <bind name="userName" value="'%'+userName+'%'"/>
               and su.name like #{userName}
           </if>

           <if test="divisionOrganizationId != null">
               <bind name="divisionOrganizationId" value="divisionOrganizationId"/>
               and bdo.id = #{divisionOrganizationId}
           </if>

       </select>
    <select id="selectByDepartmentId" resultMap="BaseResultDTOMap">

        SELECT <include refid="DTOs_Column_List"/>
        FROM basic_division_organization bdo
        LEFT JOIN basic_command_department bcd ON bdo.command_id=bcd.id and bcd.is_deleted=0
        LEFT JOIN basic_administrative_division bad ON bdo.administrative_division_id=bad.id and bad.is_deleted=0
        LEFT JOIN sys_user su ON su.id=bdo.user_id and su.is_deleted=0
        WHERE bdo.IS_DELETED = 0

        <if test="id != null">
            and bdo.id =#{id}
        </if>
        order by bdo.create_time desc
    </select>


</mapper>
