<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.basic.BasicAdministrativeDivisionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.basic.BasicAdministrativeDivision">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="division_name" property="divisionName" />
        <result column="division_code" property="divisionCode" />
        <result column="is_easy_flooded" property="easyFlooded" />
        <result column="is_flood_threat" property="floodThreat" />
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="division_grade" property="divisionGrade" />
        <result column="parent_division_name" property="parentDivisionName" />
        <result column="total_peoples" property="totalPeoples"/>
        <result column="total_family" property="totalFamily"/>
        <result column="total_houses" property="totalHouses"/>
        <result column="type" property="type"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultDTOMap" type="com.zh.dto.basic.BasicAdministrativeDivisionDTO">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="division_code" property="divisionCode" />
        <result column="divisionGrade" property="divisionGrade" />
        <result column="divisionGradeName" property="divisionGradeName"/>
        <result column="is_easy_flooded" property="easyFlooded" />
        <result column="is_flood_threat" property="floodThreat" />
        <result column="parent_division_name" property="parentDivisionName" />
        <result column="total_peoples" property="totalPeoples"/>
        <result column="total_family" property="totalFamily"/>
        <result column="total_houses" property="totalHouses"/>
        <result column="type" property="type"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, division_name, division_code, is_easy_flooded, is_flood_threat,
        is_deleted, create_time, update_time, division_grade, parent_division_name,
        total_peoples,total_family,total_houses,type
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Dto_Column_List">
       bad.id, bad.parent_id, bad.division_name name, bad.division_code, bad.is_easy_flooded, bad.is_flood_threat,bag.id divisionGrade,
        bag.name divisionGradeName, bad.parent_division_name,bad.total_peoples,bad.total_family,bad.total_houses,bad.type type
    </sql>

    <select id="selectByParentId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM basic_administrative_division
        WHERE IS_DELETED = 0 and parent_id=${parentId}
    </select>
    <select id="selectAll" resultMap="BaseResultDTOMap">
        SELECT <include refid="Dto_Column_List"/>
        FROM basic_administrative_division  bad
        LEFT JOIN basic_administrative_grade bag on bad.division_grade=bag.id
        and bag.is_deleted=0
        WHERE bad.IS_DELETED = 0
    </select>
    <select id="selectByName" resultMap="BaseResultDTOMap">
        SELECT <include refid="Dto_Column_List"/>
        FROM basic_administrative_division bad
        LEFT JOIN basic_administrative_grade bag on bad.division_grade=bag.id and bag.is_deleted=0
        WHERE bad.IS_DELETED = 0 and bad.division_name =#{name}
    </select>

    <select id="selectAdministrativeDivisionPage" resultMap="BaseResultDTOMap">

        SELECT <include refid="Dto_Column_List"/>
        FROM basic_administrative_division bad
        LEFT JOIN basic_administrative_grade bag on bad.division_grade=bag.id and bag.is_deleted=0
        WHERE bad.IS_DELETED = 0

    </select>
    <select id="checkCodeIsSame" resultMap="BaseResultDTOMap">
        SELECT <include refid="Dto_Column_List"/>
        FROM basic_administrative_division  bad
        LEFT JOIN basic_administrative_grade bag on bad.division_grade=bag.id and bag.is_deleted=0
        WHERE bad.IS_DELETED = 0 and bad.division_code =#{code}
    </select>
</mapper>
