<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.basic.EmergencyPlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.basic.EmergencyPlan">
        <id column="id" property="id" />
        <result column="upload_time" property="uploadTime" />
        <result column="upload_people" property="uploadPeople" />
        <result column="plan_type_id" property="planTypeId" />
        <result column="plan_name" property="planName" />
        <result column="area_code" property="areaCode" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
        <result column="file_path" property="filePath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, upload_time, upload_people, plan_type_id, plan_name, area_code, create_time, update_time, is_deleted, file_path
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseDtoResultMap" type="com.zh.dto.basic.EmergencyPlanDTO">
        <id column="id" property="id" />
        <result column="upload_time" property="uploadTime" />
        <result column="upload_people" property="uploadPeople" />
        <result column="plan_type_id" property="planTypeId" />
        <result column="plan_name" property="planName" />
        <result column="areaCode" property="areaCode" />
        <result column="areaName" property="areaName" />
        <result column="planTypeName" property="planTypeName" />
        <result column="file_path" property="filePath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseDto_Column_List">
        ep.id, ep.upload_time, ep.upload_people, ep.plan_type_name planTypeName, ep.plan_name, bad.division_code areaCode,
         bad.division_name areaName,  ep.file_path
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="BaseDtos_Column_List">
         ep.upload_people, ep.plan_type_name planTypeName, ep.plan_name, bad.division_code areaCode,
        bad.division_name areaName
    </sql>

    <delete id="deletedByPlanTypeId">
        UPDATE  emergency_plan set is_deleted=1  WHERE plan_type_id=#{planTypeId}
    </delete>

    <select id="selectAllByTypeIdAndName" resultType="com.zh.dto.basic.EmergencyPlanDTO">
        SELECT  <include refid="BaseDto_Column_List"/>
        FROM emergency_plan ep
        LEFT JOIN basic_administrative_division bad on ep.area_code=bad.division_code and bad.is_deleted=0
        WHERE  ep.is_deleted=0

        <if test="keywords !=null and ''!=keywords">
            <bind name="keywords" value="'%'+keywords+'%'"/>
            and CONCAT(ep.upload_people, ep.plan_name,ep.plan_type_name, bad.division_code,bad.division_name)
            LIKE #{keywords}
        </if>
        <if test="id != null">
            and bad.id = #{id}
        </if>

        order by ep.create_time desc

    </select>

</mapper>
