<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.basic.HistoryFloodRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.basic.HistoryFloodRecord">
        <id column="id" property="id" />
        <result column="area_code" property="areaCode" />
        <result column="area_name" property="areaName" />
        <result column="disaster_place" property="disasterPlace" />
        <result column="disaster_time" property="disasterTime" />
        <result column="rainfall" property="rainfall" />
        <result column="site_name" property="siteName" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="manage_company" property="manageCompany" />
        <result column="max_flow" property="maxFlow" />
        <result column="max_drown_depth" property="maxDrownDepth" />
        <result column="death_toll" property="deathToll" />
        <result column="missing_persons" property="missingPersons" />
        <result column="flood_hit_population" property="floodHitPopulation" />
        <result column="destoryed_house" property="destoryedHouse" />
        <result column="pecuniary_loss" property="pecuniaryLoss" />
        <result column="description" property="description" />
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, area_code, area_name, description, disaster_place, disaster_time, rainfall, site_name, longitude, latitude, manage_company, max_flow, max_drown_depth, death_toll, missing_persons, flood_hit_population, destoryed_house, pecuniary_loss, is_deleted, create_time, update_time
    </sql>
    <select id="getListPage" resultType="com.zh.entity.basic.HistoryFloodRecord">
        select <include refid="Base_Column_List"/>
        from history_flood_record
        where is_deleted = 0
        <if test="keyword != null and keyword != ''">
            <bind name="keyword" value="'%'+keyword+'%'"/>
            and concat(area_code,area_name, disaster_place, disaster_time, rainfall, site_name, longitude, latitude, manage_company,
            max_flow, max_drown_depth, death_toll, missing_persons, flood_hit_population, destoryed_house, pecuniary_loss)
            like #{keyword}
        </if>
        order by create_time desc
    </select>

</mapper>
