<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.basic.RiverFloodProtectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.basic.RiverFloodProtection">
        <result column="id" property="id" />
        <result column="area_code" property="areaCode" />
        <result column="area_name" property="areaName" />
        <result column="river_name" property="riverName" />
        <result column="river_code" property="riverCode"/>
        <result column="has_dike" property="hasDike" />
        <result column="section_name" property="sectionName" />
        <result column="section_code" property="sectionCode" />
        <result column="flood_frequency" property="floodFrequency" />
        <result column="level" property="level" />
        <result column="flow" property="flow" />
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, area_code, area_name, river_name, river_code, has_dike, section_name, section_code, flood_frequency, level, flow, is_deleted, create_time, update_time
    </sql>
    <select id="getListPage" resultType="com.zh.entity.basic.RiverFloodProtection">
        select
        id id,
        area_code areaCode,
        area_name areaName,
        river_name riverName,
        river_code riverCode,
        has_dike hasDike,
        section_code sectionCode,
        section_name sectionName,
        flood_frequency floodFrequency,
        level level,
        flow flow
        from river_flood_protection
        where is_deleted = 0
        <if test="keyword != null and keyword != ''">
            <bind name="keyword" value="'%'+keyword+'%'"/>
            and concat(area_code, area_name, river_name, river_code, section_name, section_code, flood_frequency, level, flow)
            like #{keyword}
        </if>
    </select>

</mapper>
