<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.basic.UserDepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.basic.UserDepartment">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="organization_id" property="organizationId" />
        <result column="position" property="position" />
        <result column="is_responsible" property="responsible" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, organization_id, position, is_responsible, create_time, update_time, is_deleted
    </sql>



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultDTOPeopleMap" type="com.zh.dto.basic.BasicDivisionOrganizationPeopleDTO">
        <id column="id" property="id" />
        <result column="names" property="name" />
        <result column="division_name" property="divisionName" />
        <result column="position" property="userPosition" />
        <result column="mobile" property="telephone" />
        <result column="gender" property="gender" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseDto_Column_List">
        id, user_id, organization_id, position, is_responsible, create_time, update_time, is_deleted
    </sql>
    <!-- 通用查询结果列 -->
    <sql id="DTOPeople_Column_List">
        <!--用户名,联系电话，性别，部门名, 职务 , 是否为责任人-->
        su.name names,su.mobile,su.gender, bdo.division_name,ud.id id,ud.position, ud.is_responsible
    </sql>
    <select id="selectByIdAndName" resultMap="BaseResultDTOPeopleMap">

        select <include refid="DTOPeople_Column_List"/>
        from
        user_department ud
        left join
        sys_user su on ud.user_id = su.id and ud.is_deleted=0
        left join basic_division_organization bdo on bdo.id = ud.organization_id and bdo.is_deleted = 0
        where su.is_deleted = 0

        <if test="keywords != null and '' != keywords">
            <bind name="keywords" value="'%'+keywords+'%'"/>
            and CONCAT(su.name,su.mobile,su.gender, bdo.division_name,ud.position, ud.is_responsible) like #{keywords}
        </if>

        <if test="divisionOrganizationId != null">
            <bind name="divisionOrganizationId" value="divisionOrganizationId"/>
            and bdo.id = #{divisionOrganizationId}
        </if>
        Order by ud.create_time desc

    </select>

</mapper>
