<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.basic.WarehouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.basic.Warehouse">
        <id column="id" property="id" />
        <result column="ware_name" property="wareName" />
        <result column="areaCode" property="areaCode" />
        <result column="areaName" property="areaName"/>
        <result column="principal" property="principal" />
        <result column="telephone" property="telephone" />
        <result column="address" property="address"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        w.id, w.ware_name, bad.division_code areaCode, w.principal, w.telephone,w.address,bad.division_name areaName
    </sql>
    <select id="selectAllByMessage" resultType="com.zh.entity.basic.Warehouse">
        SELECT <include refid="Base_Column_List"/>
        FROM warehouse w LEFT JOIN basic_administrative_division bad on w.area_code=bad.division_code and bad.is_deleted=0
        WHERE w.is_deleted = 0

        <if test="keywords!= null and '' != keywords">
            <bind name="keywords" value="'%'+keywords+'%'"/>
            and CONCAT(w.ware_name,bad.division_code, w.principal, w.telephone,w.address,bad.division_name) like #{keywords}
        </if>

        Order by w.create_time desc

    </select>

</mapper>
