<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.warning.RainWarningTimeSectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.warning.RainWarningTimeSection">
        <id column="id" property="id" />
        <result column="time_section" property="timeSection" />
        <result column="time_unit" property="timeUnit" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, time_section, time_unit
    </sql>
    <select id="getList" resultType="com.zh.entity.warning.RainWarningTimeSection">
        select <include refid="Base_Column_List"/>
        from rain_warning_time_section where 1=1
    </select>

</mapper>
