<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.warning.WarningRecordOutsideMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.warning.WarningRecordOutsideMessage">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="back_content" property="backContent" />
        <result column="back_time" property="backTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
        <result column="warn_record_id" property="warnRecordId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, back_content, back_time, create_time, update_time, is_deleted, warn_record_id
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseDtoResultMap" type="com.zh.dto.warning.WarningRecordOutsideMessageDTO">
        <result column="warnRecordId" property="warnRecordId"/>
        <result column="warnRecordName" property="warnRecordName"/>
        <result column="warningContent" property="warningContent"/>
        <result column="warningDegreeName" property="warningDegreeName"/>
        <result column="warningStatus" property="warningStatus"/>
        <result column="warningTime" property="warningTime"/>
        <result column="chargeMan" property="chargeMan"/>
        <result column="department" property="department"/>
        <result column="publishContent" property="publishContent"/>
        <result column="publishPerson" property="publishPerson"/>
        <collection property="warningRecordOutsideMessages"
                    ofType="com.zh.entity.warning.WarningRecordOutsideMessage">
            <id column="id" property="id"/>
            <result column="userId" property="userId"/>
            <result column="userName" property="userName"/>
            <result column="back_content" property="backContent"/>
            <result column="back_time" property="backTime"/>
            <result column="is_back" property="back"/>
            <result column="create_time" property="createTime"/>
            <result column="update_time" property="updateTime"/>
            <result column="is_deleted" property="deleted"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseDto_Column_List">
        wrom.id, su.id, wrom.back_content, wrom.back_time, wrom.is_back, owr.head_quarters department, owr.charge_man chargeMan,
        wr.name warnRecordName, wr.id warnRecordId,wr.warning_content warningContent,wd.name warningDegreeName,
        ws.name warningStatus,wr.warning_time warningTime,su.name userName,su.id userId, owr.publish_content publishContent, owr.publish_person publishPerson
    </sql>

    <select id="selectAllWarnInsideMessageById" resultMap="BaseDtoResultMap">

        select
        <include refid="BaseDto_Column_List"/>
        FROM   outer_warning_record owr
        LEFT JOIN warning_record_outside_message wrom on wrom.warn_record_id=owr.id and wrom.is_deleted=0
        LEFT JOIN warning_record wr on owr.warning_record_id=wr.id and wr.is_deleted=0
        left JOIN warning_degree wd on wr.warning_degree=wd.id and wd.is_deleted=0
        left JOIN warning_status ws on wr.status=ws."value" and ws.is_deleted=0
        LEFT JOIN sys_user su on wrom.user_id=su.id and su.is_deleted=0
        WHERE owr.is_deleted=0

        <if test=" id!=null">
            and wr.id=#{id}
        </if>
         order by wrom.back_time desc
    </select>




</mapper>
