<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.warning.WarningRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.warning.WarningRule">
        <id column="id" property="id" />
        <result column="site_id" property="siteId" />
        <result column="factor_code" property="factorCode" />
    </resultMap>

    <!-- 泵站因子预警详情 -->
    <resultMap id="WarningDetailMap" type="com.zh.dto.warning.WarningDetailDTO">
        <result column="siteId" property="siteId"/>
        <result column="factorCode" property="factorCode"/>
        <result column="factorName" property="factorName"/>
        <result column="ruleId" property="ruleId"/>
        <result column="warningDegreeId" property="warningDegreeId"/>
        <result column="timeZone" property="timeZone"/>
        <result column="warningValue" property="warningValue"/>
        <result column="deleted" property="deleted"/>
        <result column="detailId" property="detailId"/>
        <result column="warningDegreeName" property="warningDegreeName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, site_id, factor_code
    </sql>


    <select id="getSiteFactorWarningRule" resultMap="WarningDetailMap">
        select
        wr.site_id siteId,
        wr.factor_code factorCode,
        wr.id ruleId,
        wrd.time_zone timeZone,
        wrd.warning_degree warningDegreeId,
        wd.name warningDegreeName,
        wrd.warning_value warningValue,
        wrd.id detailId,
        wrd.is_deleted deleted,
        f.factor_name factorName
        from warning_rule wr
        left join warning_rule_detail wrd on wrd.rule_id = wr.id and wrd.is_deleted = 0
        left join device_factor df on df.factor_code = wr.factor_code and  df.is_deleted = 0
        left join factor f on df.factor_id = f.id and f.is_deleted = 0
        left join warning_degree wd on wrd.warning_degree = wd.id and wd.is_deleted = 0
        where wr.is_deleted = 0 and wr.site_id = #{siteId}
        <if test="factorCode != null and '' != factorCode ">
            <bind name="factorCode" value="factorCode"/>
            and wr.factor_code = #{factorCode}
        </if>
    </select>

</mapper>
