<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.wading.PumpStationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.wading.PumpStation">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
        <result column="area_code" property="areaCode" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="power" property="power" />
        <result column="flow" property="flow" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, is_deleted, area_code, name, code, type, power, flow ,remark
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultDtoMap" type="com.zh.dto.wading.PumpStationDTO">
        <id column="id" property="id" />
        <result column="areaName" property="areaName" />
        <result column="areaCode" property="areaCode" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="power" property="power" />
        <result column="flow" property="flow" />
        <result column="remark" property="remark" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="BaseDto_Column_List">
        p.id,bad.division_name areaName , bad.division_code areaCode, p.name, p.code, p.type, p.power, p.flow,p.remark
    </sql>

    <select id="selectAllByMessage" resultMap="BaseResultDtoMap">
        select
        <include refid="BaseDto_Column_List"/>
        from pump_station p LEFT JOIN basic_administrative_division bad
        ON p.area_code=bad.division_code
        WHERE p.is_deleted=0 and bad.is_deleted=0
        <if test="keywords != null and '' != keywords">
            <bind name="keywords" value="'%'+keywords+'%'"/>
            and  CONCAT(p.name, p.code,bad.division_name,bad.division_code,p.type, p.power, p.flow,p.remark)  like #{keywords}
        </if>
        Order by p.create_time desc
    </select>

</mapper>
