<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.wading.WaterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.wading.Water">
        <id column="id" property="id" />
        <result column="area_code" property="areaCode" />
        <result column="water_name" property="waterName" />
        <result column="water_code" property="waterCode" />
        <result column="amount" property="amount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, area_code, water_name, water_code, amount, create_time, update_time, is_deleted
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultDtoMap" type="com.zh.dto.wading.WaterDTO">
        <id column="id" property="id" />
        <result column="areaCode" property="areaCode" />
        <result column="water_name" property="waterName" />
        <result column="water_code" property="waterCode" />
        <result column="amount" property="amount" />
        <result column="areaName" property="areaName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseDto_Column_List">
        w.id, bad.division_code areaCode, w.water_name, w.water_code, w.amount, bad.division_name areaName
    </sql>
    <select id="selectbyMessage" resultMap="BaseResultDtoMap">
        select <include refid="BaseDto_Column_List"/>
        from water w LEFT JOIN basic_administrative_division bad
        ON w.area_code=bad.division_code
        WHERE w.is_deleted=0 and bad.is_deleted=0

        <if test="keywords != null and '' != keywords">
            <bind name="keywords" value="'%'+keywords+'%'"/>
            and CONCAT(w.water_name,w.water_code,bad.division_code,w.amount, bad.division_name)  like #{keywords}
        </if>

        Order by w.create_time desc
    </select>

</mapper>
