<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.task.ExceptionJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.task.ExceptionJob">
        <id column="id" property="id"/>
        <result column="exception_id" property="exceptionId"/>
        <result column="title" property="title"/>
        <result column="instruction" property="instruction"/>
        <result column="assign_man" property="assignMan"/>
        <result column="assign_name" property="assignName"/>
        <result column="assign_time" property="assignTime"/>
        <result column="execute_man" property="executeMan"/>
        <result column="execute_name" property="executeName"/>
        <result column="deadline" property="deadline"/>
        <result column="status" property="status"/>
        <result column="feedback_desc" property="feedbackDesc"/>
        <result column="finish_time" property="finishTime"/>
        <result column="is_deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="TaskListResultMap" type="com.zh.dto.task.ExceptionJobDTO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="instruction" property="instruction"/>
        <result column="assignMan" property="assignMan"/>
        <result column="assignName" property="assignName"/>
        <result column="assignTime" property="assignTime"/>
        <result column="executeMan" property="executeMan"/>
        <result column="executeName" property="executeName"/>
        <result column="deadline" property="deadline"/>
        <result column="status" property="status"/>
        <result column="feedbackDesc" property="feedbackDesc"/>
        <result column="finishTime" property="finishTime"/>
        <association property="exceptionRecord" javaType="com.zh.dto.task.ExceptionRecordDTO">
            <id column="rId" property="id"/>
            <result column="rTitle" property="title"/>
            <result column="rPoint" property="exceptionPoint"/>
            <result column="rReportTime" property="reportTime"/>
            <result column="rInstruction" property="instruction"/>
            <result column="rStatus" property="status"/>
            <result column="rReportMan" property="reportMan"/>
            <result column="rReportName" property="reportName"/>
            <collection property="attachments" ofType="com.zh.entity.task.ExceptionAttachment">
                <id column="aId" property="id"/>
                <result column="aType" property="type"/>
                <result column="aPath" property="path"/>
            </collection>
        </association>
        <collection property="attachments" ofType="com.zh.entity.task.ExceptionJobAttachment">
            <id column="jId" property="id"/>
            <result column="jType" property="type"/>
            <result column="jPath" property="path"/>
        </collection>
    </resultMap>

    <sql id="Job_Column_List">
        j.id id, j.title title, j.instruction instruction,
        j.assign_man assignMan, j.assign_man assignMan,j.assign_name assignName,j.assign_time assignTime,
        j.execute_man executeMan, j.execute_name executeName,j.deadline deadline, j.status status,
        j.feedback_desc feedbackDesc, j.finish_time finishTime, r.id rId,
        r.title rTitle, r.exception_point rPoint, r.report_time rReportTime,
        r.instruction rInstruction, r.status rStatus, r.report_man rReportMan,r.report_name rReportName,
        a.id aId, a.type aType, a.path aPath, ja.id jId, ja.type jType, ja.path jPath
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, exception_id, title, instruction, assign_man, assign_time, execute_man, deadline, status, feedback_desc, finish_time, is_deleted, create_time, update_time
    </sql>
    <select id="selectTaskList" resultMap="TaskListResultMap">
        select
        <include refid="Job_Column_List"/>
        from exception_job j
        left join exception_record r on r.id = j.exception_id and r.is_deleted = 0
        left join exception_attachment a on a.exception_id = r.id and a.is_deleted = 0
        left join exception_job_attachment ja on ja.exception_job_id = j.id and ja.is_deleted = 0
        where j.is_deleted = 0
        and j.execute_man = #{userId}
        and j.status = #{status}
    </select>


    <select id="selectAssignTaskList" resultMap="TaskListResultMap">
        select
        <include refid="Job_Column_List"/>
        from exception_job j
        left join exception_record r on r.id = j.exception_id and r.is_deleted = 0
        left join exception_attachment a on a.exception_id = r.id and a.is_deleted = 0
        left join exception_job_attachment ja on ja.exception_job_id = j.id and ja.is_deleted = 0
        where j.is_deleted = 0
        <if test="userId != null">
            and j.assign_man = #{userId}
        </if>
        and j.status = #{taskStatus}
        <if test="exceptionStatus !=null">
            and r.status = #{exceptionStatus}
        </if>
    </select>

</mapper>
