<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.flood.FloodPreventionOwnerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.dto.flood.FloodPreventionOwnerDTO">
        <result column="id" property="id" />
        <result column="areaCode" property="areaCode" />
        <result column="company" property="company" />
        <result column="user_id" property="userId" />
        <result column="userName" property="userName"/>
        <result column="work" property="work" />
        <result column="telephone" property="telephone" />
        <result column="mark" property="mark" />
        <result column="typeId" property="typeId"/>
        <result column="typeName" property="typeName"/>
        <result column="gender" property="gender"/>
        <result column="mobile" property="mobile"/>
        <result column="areaName" property="areaName"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        fpo.id, bad.division_code areaCode, fpo.company, fpo.user_id, fpo.work, fpo.telephone, fpo.mark,
        su.name userName,fdt.name typeName,su.gender,su.mobile,fdt.id typeId,bad.division_name areaName
    </sql>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseDtoResultMap" type="com.zh.dto.basic.UserDTO">
        <result column="userName" property="userName" />
        <result column="userId" property="userId" />
    </resultMap>



    <!-- 通用查询结果列 -->
    <sql id="BaseDto_Column_List">
      su.id userId,
        su.name userName
    </sql>

    <select id="selectByTypeIdPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM flood_prevention_owner fpo LEFT JOIN sys_user su ON fpo.user_id=su.id and su.is_deleted=0
        LEFT JOIN basic_administrative_division bad ON bad.division_code=fpo.area_code and bad.is_deleted=0
        LEFT JOIN flood_duty_type fdt on fpo.type_id=fdt.id and fdt.is_deleted=0
        WHERE fpo.is_deleted=0 and fdt.id=#{typeId}

        <if test="keywords != null and '' != keywords">
            <bind name="keywords" value="'%'+keywords+'%'"/>
            and CONCAT(bad.division_code, fpo.company, fpo.work, fpo.telephone, fpo.mark,
            su.name,fdt.name,su.gender,su.mobile,bad.division_name) like #{keywords}
        </if>

    </select>

    <select id="selectAllUserByTypeId" resultMap="BaseDtoResultMap">
        SELECT <include refid="BaseDto_Column_List"/>
        FROM flood_prevention_owner rpo LEFT JOIN sys_user su ON rpo.user_id=su.id
        and su.is_deleted=0
        where rpo.is_deleted=0
        <if test="typeId!=null">
            and rpo.type_id=#{typeId}
        </if>

    </select>

</mapper>
