<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.test2.ZUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.test2.ZUser">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="birthday" property="birthday" />
        <result column="education" property="education" />
        <result column="gender" property="gender" />
        <result column="profession" property="profession" />
        <result column="photo" property="photo" />
        <result column="college" property="college" />
        <result column="urgent_person" property="urgentPerson" />
        <result column="urgent_contact" property="urgentContact" />
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="position" property="position" />
        <result column="division_id" property="divisionId" />
        <result column="organization_id" property="organizationId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, password, mobile, email, birthday, education, gender, profession, photo, college, urgent_person, urgent_contact, is_deleted, create_time, update_time, position, division_id, organization_id
    </sql>

    <!-- 用户登录 -->
    <resultMap id="BaseUserResultMap" type="com.zh.entity.test2.ZUser">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="birthday" property="birthday" />
        <result column="education" property="education" />
        <result column="gender" property="gender" />
        <result column="profession" property="profession" />
        <result column="photo" property="photo" />
        <result column="college" property="college" />
        <result column="urgent_person" property="urgentPerson" />
        <result column="urgent_contact" property="urgentContact" />
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="position" property="position" />
        <result column="division_id" property="divisionId" />
        <result column="organization_id" property="organizationId" />
        <collection property="roles" ofType="com.zh.entity.test2.ZRoles">
            <result column="r_id" property="id" />
            <result column="role_name" property="roleName" />
            <result column="description" property="description" />
            <result column="is_deleted" property="deleted" />
            <result column="create_time" property="createTime" />
            <result column="update_time" property="updateTime" />
            <result column="parent_id" property="parentId" />
            <result column="role_type" property="roleType" />
            <collection property="resources"  ofType="com.zh.entity.test2.ZResources">
                <result column="rs_id" property="id" />
                <result column="resourceName" property="name" />
                <result column="resourceDescription" property="description" />
                <result column="http_path" property="httpPath" />
                <result column="is_deleted" property="deleted" />
                <result column="create_time" property="createTime" />
                <result column="update_time" property="updateTime" />
                <result column="parent_id" property="parentId" />
                <result column="node" property="node" />
                <result column="layer" property="layer" />
                <result column="seq" property="seq" />
                <result column="url" property="url" />
                <result column="icon" property="icon" />
                <result column="hasPersission" property="hasPersission"/>
            </collection>
        </collection>

    </resultMap>
    <!-- 用户-角色-资源 结果列 -->
    <sql id="User_Roles_Resources_Column_List">
        su.id,
        su.name,
        su.mobile,
        su.email,
        su.position,
        su.division_id,
        su.organization_id,
        su.birthday,
        su.education,
        su.gender,
        su.profession,
        su.photo,
        su.college,
        su.urgent_person,
        su.urgent_contact,
        su.password,
        su.is_deleted,
        sur.id,
        sur.sys_user_id,
        sur.sys_roles_id,
        sr.id,
        sr.role_name,
        sr.description,
        srs.id,
        srs.sys_roles_id,
        srs.sys_resources_id,
        srr.id,
        srr.name,
        srr.description,
        srr.http_path,
        sr.id  r_id,
        sr.role_name,
        sr.description,
        srr.id rs_id,
        srr.name resourceName,
        srr.url url,
        srr.description resourceDescription,
        srr.http_path,
        srr.parent_id parentId,
        srr.icon icon,
        srr.node node,
        srr.seq seq,
        srs.has_persission hasPersission

    </sql>
    <select id="findByUserName" resultMap="BaseUserResultMap">
        select <include refid="User_Roles_Resources_Column_List"/>
        from z_user su LEFT JOIN z_user_roles sur on su.id=sur.sys_user_id
        LEFT JOIN z_roles sr on sur.sys_roles_id=sr.id and sr.is_deleted=0
        LEFT JOIN z_roles_resources srs on sr.id=srs.sys_roles_id
        LEFT JOIN z_resources srr on srr.id=srs.sys_resources_id and srr.is_deleted=0
        where su.name=#{username}
    </select>
    <select id="findByMobile" resultType="com.zh.entity.test2.ZUser">

        select <include refid="User_Roles_Resources_Column_List"/>
        from z_user su LEFT JOIN z_user_roles sur on su.id=sur.sys_user_id
        LEFT JOIN z_roles sr on sur.sys_roles_id=sr.id and sr.is_deleted=0
        LEFT JOIN z_roles_resources srs on sr.id=srs.sys_roles_id
        LEFT JOIN z_resources srr on srr.id=srs.sys_resources_id and srr.is_deleted=0
        where su.mobile=#{mobile}

    </select>

</mapper>
