<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.response.ResponseDisaterRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.response.ResponseDisaterRecord">
        <id column="id" property="id" />
        <result column="response_record_id" property="responseRecordId" />
        <result column="back_content" property="backContent" />
        <result column="head_quarters" property="headQuarters" />
        <result column="department" property="department" />
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, response_record_id, back_content, head_quarters, department, is_deleted, create_time, update_time
    </sql>

</mapper>
