<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.response.ResponseActionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.response.ResponseAction">
        <id column="id" property="id" />
        <result column="areaName" property="areaName"/>
        <result column="areaCode" property="areaCode" />
        <result column="people" property="people" />
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="firstPath" property="firstPath" />
        <result column="secondPath" property="secondPath" />
        <result column="thirdPath" property="thirdPath" />
        <result column="fourthPath" property="fourthPath" />
        <result column="actionName" property="actionName"/>
        <result column="uploadTime" property="uploadTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ra.id, bad.division_code areaCode, ra.people people,
         ra.first_path firstPath, ra.second_path secondPath,ra.third_path thirdPath,
         ra.fourth_path fourthPath, ra.upload_time uploadTime,ra.action_name actionName,bad.division_name areaName
    </sql>
    <select id="selectAllPage" resultMap="BaseResultMap">
        SELECT  <include refid="Base_Column_List"/>
        FROM response_action ra
        LEFT JOIN basic_administrative_division bad ON ra.area_code=bad.division_code and bad.is_deleted=0
        WHERE ra.is_deleted=0

        <if test="keywords != null and '' != keywords">
            <bind name="keywords" value="'%'+keywords+'%'"/>
            and CONCAT(bad.division_name,ra.action_name,ra.people) like #{keywords}
        </if>

    </select>
    <select id="selectAllList" resultType="com.zh.dto.response.ResponseActionDTO">
        SELECT  <include refid="Base_Column_List"/>
        FROM response_action ra
        LEFT JOIN basic_administrative_division bad ON ra.area_code=bad.division_code and bad.is_deleted=0
        WHERE ra.is_deleted=0
    </select>


</mapper>
