<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.mapper.response.ResponseFeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.entity.response.ResponseFeedback">
        <id column="id" property="id"/>
        <result column="warn_record_id" property="warnRecordId"/>
        <result column="userId" property="userId"/>
        <result column="organizationId" property="organizationId"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="back_time" property="backTime"/>
        <result column="rescue_people" property="rescuePeople"/>
        <result column="need_transfer_people" property="needTransferPeople"/>
        <result column="transferred_people" property="transferredPeople"/>
        <result column="besieged_people" property="besiegedPeople"/>
        <result column="not_besieged_people" property="notBesiegedPeople"/>
        <result column="is_deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, warn_record_id, user_id,organization_id, start_time, end_time, back_time, rescue_people, need_transfer_people, transferred_people, besieged_people, not_besieged_people, is_deleted, create_time, update_time
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseDtoResultMap" type="com.zh.dto.response.ResponseFeedbackDTO">
        <id column="id" property="id"/>
        <result column="warn_record_id" property="warnRecordId"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="back_time" property="backTime"/>
        <result column="rescue_people" property="rescuePeople"/>
        <result column="need_transfer_people" property="needTransferPeople"/>
        <result column="transferred_people" property="transferredPeople"/>
        <result column="besieged_people" property="besiegedPeople"/>
        <result column="not_besieged_people" property="notBesiegedPeople"/>
        <result column="arganizationId" property="arganizationId"/>
        <result column="arganizationName" property="arganizationName"/>
        <result column="userId" property="userId"/>
        <result column="userName" property="userName"/>
        <result column="feedback" property="feedback"/>
        <result column="areaName" property="areaName"/>
        <result column="areaCode" property="areaCode"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseDto_Column_List">
        rf.id, rf.warn_record_id, rf.back_people, rf.start_time, rf.end_time, rf.back_time, rf.rescue_people,rf.is_feedback,
        rf.need_transfer_people, rf.transferred_people, rf.besieged_people, rf.not_besieged_people, bdo.division_name arganizationName,
        bdo.id arganizationId,su.name userName,su.id userId, bad.division_code areaCode,bad.division_name areaName
    </sql>


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseDtoMapResultMap" type="com.zh.dto.response.ResponseFeedbackMapDTO">
        <result column="responseDegreeValue" property="responseDegreeValue"/>
        <result column="responseDegree" property="responseDegree"/>
        <result column="responseStatusValue" property="responseStatusValue"/>
        <result column="responseStatus" property="responseStatus"/>
        <result column="warningDegreeValue" property="warningDegreeValue"/>
        <result column="warnRecordId" property="warnRecordId"/>
        <result column="responseJump" property="responseJump"/>
        <result column="warningJump" property="warningJump"/>
        <result column="normal" property="normal"/>
        <result column="address" property="address"/>
        <result column="areaCode" property="areaCode"/>
        <result column="areaName" property="areaName"/>
        <result column="constractionCompany" property="constractionCompany"/>
        <result column="isFocus" property="isFocus"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
        <result column="manageCompany" property="manageCompany"/>
        <result column="photo" property="photo"/>
        <result column="recordLevel" property="recordLevel"/>
        <result column="recordTime" property="recordTime"/>
        <result column="siteCode" property="siteCode"/>
        <result column="siteId" property="siteId"/>
        <result column="siteName" property="siteName"/>
        <result column="status" property="status"/>
        <result column="telephone" property="telephone"/>
        <result column="warnId" property="warnId"/>
        <result column="warningDegreeName" property="warningDegreeName"/>
        <result column="warningTime" property="warningTime"/>
        <result column="warnName" property="warnName"/>
        <result column="normalValue" property="normalValue"/>
        <result column="alarmValue" property="alarmValue"/>
        <result column="warningContent" property="warningContent"/>
        <result column="icon" property="icon"/>
        <collection property="responseFeedbackDTOS" ofType="com.zh.dto.response.ResponseFeedbackDTO">
            <result column="start_time" property="startTime"/>
            <result column="end_time" property="endTime"/>
            <result column="back_time" property="backTime"/>
            <result column="rescue_people" property="rescuePeople"/>
            <result column="need_transfer_people" property="needTransferPeople"/>
            <result column="transferred_people" property="transferredPeople"/>
            <result column="besieged_people" property="besiegedPeople"/>
            <result column="not_besieged_people" property="notBesiegedPeople"/>
            <result column="arganizationId" property="arganizationId"/>
            <result column="arganizationName" property="arganizationName"/>
            <result column="userId" property="userId"/>
            <result column="userName" property="userName"/>
            <result column="feedback" property="feedback"/>

        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseDtoMap_Column_List">
        <!-- 这里的 warnRecordId对应的就是响应记录的id 命名的时候没注意-->
        rr.id warnRecordId, rf.back_people, rf.start_time, rf.end_time, rf.back_time, rf.rescue_people,rf.is_feedback feedback,
        rf.need_transfer_people, rf.transferred_people, rf.besieged_people, rf.not_besieged_people, bdo.division_name arganizationName,
        bdo.id arganizationId,su.name userName,su.id userId,rd.name responseDegree,
         rt.name responseStatus, rr.response_content responseContent, s.id siteId, s.name siteName,s.address address,
         s.latitude latitude,s.longitude longitude, bad.division_code areaCode,bad.division_name areaName,
         s.constraction_company constractionCompany,s.manage_company manageCompany,s.photo photo, wd.icon icon,
         s.is_focus isFocus,wr.name warnName,wd.name warningDegreeName,wr.id warnId,wr.warning_time warningTime,
         wr.warning_value normalValue,wr.data_value alarmValue,wr.warning_content warningContent,rr.jump responseJump,
        rr.response_status responseStatusValue,
        rr.response_degree responseDegreeValue,wr.warning_degree warningDegreeValue,
        wr.jump warningJump, rr.is_normal normal
    </sql>


    <select id="selectAllFeedback" resultMap="BaseDtoResultMap">
        select
        <include refid="BaseDto_Column_List"/>
        FROM response_feedback rf LEFT JOIN basic_division_organization bdo on rf.organization_id=bdo.id
        and bdo.is_deleted=0
        left JOIN sys_user su on rf.user_id=su.id and su.is_deleted=0
        left JOIN response_feedback_record rfr on rfr.id=rf.warn_record_id and rfr.is_deleted=0
        LEFT JOIN response_record rr on rr.id=rfr.response_record_id and rr.is_deleted=0
        left JOIN warning_record wr on wr.id=rr.warning_record_id and wr.is_deleted=0
        left JOIN site s on wr.site_id=s.id and s.is_deleted=0
        LEFT JOIN basic_administrative_division bad on s.area_code=bad.division_code and bad.is_deleted=0
        WHERE rf.is_deleted=0
        <if test="f!=null and f == true">
            and rf.is_feedback = 1
        </if>
        <if test="f!=null and f == false">
            and rf.is_feedback = 0
        </if>

        <if test=" id!=null">
            and wr.id=#{id}
        </if>
        order by rf.back_time desc
    </select>
    <select id="selectAllFeedbackMap" resultMap="BaseDtoMapResultMap">
        select
        <include refid="BaseDtoMap_Column_List"/>
        FROM  warning_record wr
        LEFT JOIN response_record rr on rr.warning_record_id=wr.id and rr.is_deleted=0
        left JOIN response_feedback_record rfr on rfr.response_record_id=rr.id and rfr.is_deleted=0
        left JOIN  response_feedback rf on rf.warn_record_id=rfr.id and rf.is_deleted=0
        LEFT JOIN response_degree rd on rr.response_degree=rd.status and rd.is_deleted=0
        left JOIN warning_degree wd on wr.warning_degree=wd.id and wd.is_deleted=0
        left JOIN site s on wr.site_id=s.id and s.is_deleted=0
        LEFT JOIN basic_division_organization bdo on rf.organization_id=bdo.id and bdo.is_deleted=0
        LEFT JOIN basic_administrative_division bad ON s.area_code=bad.division_code and bad.is_deleted=0
        left JOIN response_type rt on rr.response_status=rt.status and rt.is_deleted=0
        left JOIN sys_user su on rf.user_id=su.id and su.is_deleted=0
        WHERE wr.is_deleted=0 and (wr.status =4) and (rr.response_status =2)

        <if test="f!=null and f == true">
            and rf.is_feedback = 1
        </if>
        <if test="f!=null and f == false">
            and rf.is_feedback = 0
        </if>

        <if test=" id!=null">
            and wr.id=#{id}
        </if>
        order by rf.back_time desc
    </select>

</mapper>
